


body { 
    background: url("/assets/images/background-image.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden !important;
  }


  /* --------------------------------------------------------------------------------------Nav Bar */      

  nav {
    background-color: transparent;
    
  }

  hr {
    background-color:#F0F4F5;
    opacity: 100%;
    height: 4px;
    box-shadow: 0 0 10px 5px #5D5C55; 
    width: auto;
  
  }

  .band-logo {
    max-width: 180px;
    

  }
  
  .nav-button {
  
    border-radius: 5px;
    border: solid 3px #f0f4f5ea;
    min-width: 120px;
    box-shadow: 0 0 10px 5px #5D5C55;
    margin-left: 5rem;
    margin-right: 5rem;
  }


  .active{
    text-decoration: underline;
  }

  .navbar-nav .nav-button .nav-link:hover {
 
    background-color: #5D5C55;
}

@media only screen 
and (max-width : 992px) {
  .dropdown-list{
    position: absolute;
    z-index: 30;
    background-color: #323232fa;
    display: ;
  }
}
/* --------------------------------------------------------------------------------------Video & Audio */   


/* --------------------------------------------------------------------------------------Tour Page*/ 

.tour-info {
  text-align: center;
  margin-top: 110px;
}

.ticket-row {
  margin-bottom: 30px;
}

.date-box, .city-box {
  padding-top: 15px;
}